
{% if meetings %}
	
	{% block head_extra_stylesheets %}
		<link rel="stylesheet" href="{{ STATIC_URL }}chipy/css/google_maps.css" />
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	{% endblock %}
	
	<script type="text/javascript">
		var mtgmap_canvases = {};
		var geocoder = new google.maps.Geocoder();
		function init_mapcanvas(mapdiv,latlng) {
			// mapdiv is s'posed to be an element object we can turn into a map
			// latlng is s'posed to be a Google Maps APIv3 latlng object
			var myMapOpts = {
					zoom = 13,
					center = latlng,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				};
			var map_canvas = new google.maps.Map(mapdiv, myMapOpts);
			// add the marker for latlng place
			}
	</script>

	{% for meeting in meetings %}

<div class="dialog">
 <div class="hd"><div class="c"></div></div>
 <div class="bd">
  <div class="c">
   <div class="s">

    <!-- content area -->

<h1>ChiPy {{meeting.which}} Meeting</h1>
<div class="tiny_map" id="mtgmap_{{meeting.id}}"></div>
<p><b>When:</b> {{meeting.when|date:"l F jS Y P"}}</p>
<div class="tiny_map"></div>
<p><b>Where:</b> <span class="venue_name">{{meeting.venue.name}}</span>
			<span class='address'>{{meeting.venue.address|safe}}</span>
			<span class='phone'>{{meeting.venue.phone}}</span></p>

<p><b>Topics:</b>
	{%if meeting.topic_set.all.count %}

		<ul>
		{%for topic in meeting.topic_set.all%}
			<li>
				<h3>{{topic.title}}</h3> ({{topic.get_length_display}})<br>
				By: <i>{{topic.by}}</i><br>
				{{topic.description}}<br>
				{% if topic.slides_link %}
					<a href="{{topic.slides_link|safe}}">slides</a>
				{% endif %}
                                {% if topic.embed_video %}
					<a rel="shadowbox[Mixed];width=480;height=390" href="{% url embed_video id=topic.id %}">Video</a>

				{% endif %}
			</li>
		{%endfor%}
		</ul>

	{%else%}
		TBD
	{%endif%}
</p>

    <!-- content area -->

   </div>
  </div>
 </div>
 <div class="ft"><div class="c"></div></div>
</div>

	<script type="text/javascript">
	// draw each meeting location map
	myGeoCodReq = 
	geocoder.geocode();
	var mapopts = {zoom: 13, center: myLatLng, mapTypeId: google.maps.MapTypeId.ROADMAP};
	mtgmap_canvases["{{meeting.id}}"] = new google.maps.Map(mtgmap_{{meeting.id}}, mapopts);
	
	{% endfor %}
{% else %}

	{% if empty_msg %}
		{{empty_msg}}
	{% else %}
		No Meetings
	{% endif %}
{% endif %}

