
{% block extra_head %}
 <link rel="stylesheet" href="/site_media/static/chipy/css/google_maps.css" />
 <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
 <script type="text/javascript" src="/site_media/static/chipy/js/venue_location.js"></script>
 <script type="text/javascript">
   window.onload = function() {
    $('.yes').click(function() {
         {% if not user.is_authenticated %}
         	alert('please log in to RSVP');
		window.location.href = '/account/login/?next=/';
	 {% endif %}
         $.post("/meetings/rsvp_update", {
             answer: "yes",
             id: this.id
         },
             function(data) {
                 location.reload();
        });
    });
    $('.maybe').click(function() {
         {% if not user.is_authenticated %}
         	alert('please log in to RSVP');
		window.location.href = '/account/login/?next=/';
	 {% endif %}
         $.post("/meetings/rsvp_update", {
             answer: "maybe",
             id: this.id
         },
             function(data) {
		 location.reload();
        });
    });
}
 </script>
 
{% endblock %}

{% if meetings %}
	
	{% block head_extra_stylesheets %}
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	{% endblock %}
	
	{% for meeting in meetings %}

<div class="dialog">
 <div class="hd"><div class="c"></div></div>
 <div class="bd">
  <div class="c">
   <div class="s">

    <!-- content area -->

<h1>ChiPy {{meeting.which}} Meeting</h1>
<p><b>When:</b> {{meeting.when|date:"l F jS Y P"}}</p>
<p><b>Where:</b> <span class="venue_name">{{meeting.venue.name}}</span>
			<span class='address'>{{meeting.venue.address|safe}}</span>
			<span class='phone'>{{meeting.venue.phone}}</span></p>

{% if meeting.venue.jsonLatLng %}
<div class="mapWrapper">
  <div id="mtgmap_{{ meeting.id }}" class="tiny_map"></div>
</div>
<script type="text/javascript">
  latLng = new google.maps.LatLng({{meeting.venue.jsonLatLng}});
  drawMapThumb(document.getElementById("mtgmap_{{ meeting.id }}"),
  	           latLng,
               "{{ meeting.venue.name }}",
               "{{ meeting.venue.address }}");
</script>
{% endif %}

{% load meetings_extra %}
<p><b>Topics:</b>
	{%if meeting.topic_set.all.count %}

		<ul>
		{%for topic in meeting.topic_set.all%}
			<li>
				<h3>{{topic.title}}</h3> ({{topic.get_length_display}})<br>
				By: <i>{{topic.presentor_names}}</i><br>
				{{topic.description|safe}}<br>
				{% if topic.slides_link %}
					<a href="{{topic.slides_link|safe}}">slides</a>
				{% endif %}
                                {% if topic.embed_video %}
					<a rel="shadowbox[Mixed];width=480;height=390" href="{% url embed_video id=topic.id %}">Video</a>

				{% endif %}
			</li>
		{%endfor%}
		</ul>

	{%else%}
		TBD
	{%endif%}
</p>

{%if meeting.is_future%}
<p><b>RSVP:</b> 

 <div class="rsvp_buttons">
    {% if meeting.rsvp_user_yes %}
        You RSVP'd as 'Yes'
	switch to <button type="button" class="maybe" id="{{meeting.id}}">Maybe</button>
    {% endif %}
    {% if meeting.rsvp_user_maybe %}
        You RSVP'd as 'Maybe'
	switch to <button type="button" class="yes" id="{{meeting.id}}">Yes</button>
    {% endif %}
    {% if not meeting.rsvp_user_yes and not meeting.rsvp_user_maybe %}
	<button type="button" class="maybe" id="{{meeting.id}}">Maybe</button>
	<button type="button" class="yes" id="{{meeting.id}}">Yes</button>
    {% endif %}
     
    <br />
    <code id="count">{{ meeting.meetingrsvp_set.count }}</code> going so far
  </div>  
	
 </p>
{%else %}

	{% ifnotequal meeting.meetingrsvp_set.count 0 %}

    		<code id="count">{{ meeting.meetingrsvp_set.count }}</code> where in attendance
	 
	{% endifnotequal %}

{%endif%}



    <!-- content area -->

   </div>
  </div>
 </div>

 <div class="ft"><div class="c"></div></div>
</div>
{% endfor %}
{% else %}

	{% if empty_msg %}
		{{empty_msg}}
	{% else %}
		No Meetings
	{% endif %}
{% endif %}

