/* www.chipy.org Google Map style for Pinax Yahoo Maps replacement */

div#map_canvas {
	height: 300px;
	width: 400px;
	float: right
	}

div.google_map {
    float: right;
    height: 192px;
    width: 256px;
}
