/* www.chipy.org Google Map style for Pinax Yahoo Maps replacement */

div#map_canvas {
	height: 300px;
	width: 400px;
	float: right
	}

div.tiny_map {
	height: 120px;
	width: 120px;
	}

div.s div.tiny_map {
	float: right;
	}