/* www.chipy.org Google Map style for Pinax Yahoo Maps replacement */

div#map_canvas {
	height: 300px;
	width: 400px;
	float: right
	}
.mapWrapper {
  margin-top: 35px;
	height: 184px;
	width: 260px;
  float: right;
  background-color: gray; 
  float:right;
}
div.tiny_map {
	height: 180px;
	width: 256px;
  margin: 2px;
	}

div.s div.tiny_map {
	}

