{% extends "locations/base.html" %}

{% block head_title %}All Locations{% endblock %}
{% block head_extra_stylesheets %}
	<link rel="stylesheet" href="{{ STATIC_URL }}chipy/css/google_maps.css" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
{% endblock %}

{% block body %}
    <p>Did you mean: {{ location.place }}</p>
    <form action="{% url loc_checkin %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="place" value="{{ location.place }}" id="id_place" />
        <input type="hidden" name="latitude" value="{{ location.latitude }}" id="id_latitude" />
        <input type="hidden" name="longitude" value="{{ location.longitude }}" id="id_longitude" />
        <p><input type="submit" value="Checkin &rarr;"></p>
    </form>
    <div id="map_canvas"></div>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        var _geo = [[{{ location.latitude }}, {{ location.longitude }}, '{{ location.place }}']];
    </script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}chipy/js/locations.js"></script>
{% endblock %}